{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}

    {% if customers %}
    <h1>Leads</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered table align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ismi</th>
                    <th scope="col">Telefon raqami</th>
                    <th scope="col">Ro'yxatdan o'tgan</th>
                    <th scope="col">Oxirgi buyurtmasi</th>
                    <th scope="col">Buyurtmalar soni</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.registered_at }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-secondary align-middle" data-bs-toggle="modal" data-bs-target="#exampleModal{{ customer.id }}">
                          Ko'rish
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{ customer.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"; style="color:rgb(20, 31, 99)">Order #{{ customer.last_order.id }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body text-start">
                                <p>Mahsulotlar: <b>{{ customer.last_order.items|linebreaksbr }}</b></p>
                                <p>To'lov turi: <b>{{ customer.last_order.payment_method }}</b></p>
                                <p>Manzil: <b>{{ customer.last_order.address }}</b></p>
                                <p>Jami: <b>{{ customer.last_order.sum|intcomma }} UZS</b></p>
                              </div>
                              <div class="modal-footer">
                                <p>Status: <b>{{ customer.last_order.status }}</b></p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center align-middle"><a href="{% url 'customer_orders' customer.telegram_id %}"; class="btn-link"> {{ customer.number_of_orders }} order(s)</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% endif %}

    {% else %}
        <h1 class="text-center" style="color:red">You are not admin!</h1>

    {% endif %}


    {% endblock %}