{% extends 'base.html' %}
{% load humanize %}

{% block content %}

{% if user.is_authenticated %}

{% if orders %}

<div class=" container-fluid row">

  <!-- 1st table -->
  <div class="col-4">
    <table class="table table-striped table-hover table-bordered table align-middle table table-sm">
      <h1>Kutmoqda</h1>
      <thead class="table-dark">
        <tr class="align-middle text-center">
          <th scope="col">#</th>
          <th scope="col">Xaridor</th>
          <th scope="col">Mahsulotlar</th>
          <th scope="col">To'lov turi</th>
          <th scope="col">Statusni o'zgartirish</th>
        </tr>
      </thead>
      <tbody>
        {% for order in pending_orders %}

        <tr>
          <td>{{ order.id }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-link align-middle" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.customer.first_name }}">
              {{ order.customer.first_name }}
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ order.customer.first_name }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xaridor haqida</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-start">
                    <p>Ismi: <b>{{ order.customer.first_name }}</b></p>
                    <p>Aloqa: <b>{{ order.customer.phone_number }}</b></p>
                    <p>Manzil: <b>{{ order.address }}</b></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          
          <td class="text-center">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.id }}">
              Mahsulotlar
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buyurtma Mahsulotlari</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-start">
                    <p style="font-weight: bold;">{{ order.items|linebreaksbr }}</p>
                    <p>Jami: <b>{{ order.sum|intcomma }} UZS</b></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                  </div>
                </div>
              </div>
            </div>
          </td>

          <td class="text-center">{{ order.payment_method }}</td>
          <td class="align-middle text-center">
            <form action="{% url 'change_status' order.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-sm btn-primary mb-1" name="status" value="pishirilmoqda">Pishirish</button>
              <button class="btn btn-sm btn-danger mb-1" name="status" value="bekor qilingan">Bekor qilish</button>
            </form>
          </td>
        </tr>

        {% endfor %}
      </tbody>
      <caption><b>Kutayotgan</b> buyurtmalar ro'yxati</caption>
    </table>
  </div>

  <!-- 2nd Table -->
  <div class="col-3">
    <table class="table table-striped table-hover table-bordered table align-middle table table-sm">
      <h1>Pishirilmoqda</h1>
      <thead class="table-dark">
        <tr class="align-middle text-center">
          <th scope="col">#</th>
          <th scope="col">Xaridor</th>
          <th scope="col">Mahsulotlar</th>
          <th scope="col">Status o'zgartirish</th>
        </tr>
      </thead>
      <tbody>
        {% for order in in_progress_orders %}
        <tr>

          <td>{{ order.id }}</td>
          <td class="text-center">{{ order.customer.first_name }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.id }}">
              Mahsulotlar
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buyurtma Mahsulotlari</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-start">
                    <p style="font-weight: bold;">{{ order.items|linebreaksbr }}</p>
                    <p>Jami: <b>{{ order.sum|intcomma }} UZS</b></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                  </div>
                </div>
              </div>
            </div>
          </td>

          <td class="align-middle text-center">
            <form action="{% url 'change_status' order.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-sm btn-outline-success" name="status" value="yetkazilmoqda">Yetkazish</button>
              <button class="btn btn-sm btn-danger" name="status" value="bekor qilingan">Bekor qilish</button>
            </form>
          </td>

        </tr>
        {% endfor %}
      </tbody>
      <caption><b>Pishirilayotgan</b> buyurtmalar ro'yxati</caption>
    </table>
  </div>

  <!-- 3rd Table -->
  <div class="col-4">
    <table class="table table-striped table-hover table-bordered table align-middle table table-sm">
      <h1>Yetkazilmoqda</h1>
      <thead class="table-warning">
        <tr class="align-middle text-center">
          <th scope="col">#</th>
          <th scope="col">Xaridor</th>
          <th scope="col">Mahsulotlar</th>
          <th scope="col">To'lov turi</th>
          <th scope="col">Manzil</th>
          <th scope="col">Status o'zgartirish</th>
        </tr>
      </thead>
      <tbody>
        {% for order in on_delivery_orders %}

        <tr>
          <td>{{ order.id }}</td>
          <td class="text-center">
            <button type="button" class="btn btn-link align-middle" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.customer.first_name }}">
              {{ order.customer.first_name }}
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ order.customer.first_name }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xaridor haqida</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-start">
                    <p>Ismi: <b>{{ order.customer.first_name }} </b></p>
                    <p>Aloqa: <b>{{ order.customer.phone_number }}</b></p>
                    <p>Manzil: <b>{{ order.address }}</b></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-dark align-middle" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.id }}">
              Mahsulotlar
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buyurtma Mahsulotlari</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-start">
                    <p style="font-weight: bold;">{{ order.items|linebreaksbr }}</p>
                    <p>Jami: <b>{{ order.sum|intcomma }} UZS</b></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="text-center">{{ order.payment_method }}</td>
          <td class="text-center">{{ order.address }}</td>
          <td class="align-middle text-center">
            <form action="{% url 'change_status' order.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-success mb-1 btn-sm" name="status" value="yetkazilgan">Yetkazildi</button>
              <button class="btn btn-danger mb-1 btn-sm" name="status" value="bekor qilingan">Bekor qilish</button>
            </form>
          </td>
        </tr>

        {% endfor %}
      </tbody>
      <caption><b>Yetkazilayotgan</b> buyrutmalar ro'yxati</caption>
    </table>
  </div>

</div>


{% endif %}

{% else %}
<h1 class="text-center" style="color:red">Siz admin emassiz!</h1>

{% endif %}

{% endblock %}