{% extends 'base.html' %}

{% load humanize %}

{% block content %}

{% if user.is_authenticated %}


<div class="col-12 p-4">
  <table class="table table-dark table-hover table-bordered table align-middle table table">
    <h1>To'lov operatsiyalari</h1>
    <thead class="table-dark">
      <tr class="align-middle text-center">
        <th scope="col">Buyurtma nomeri</th>
        <th scope="col">Xaridor</th>
        <th scope="col">To'lov turi</th>
        <th scope="col">Status</th>
        <th scope="col">Sanasi</th>
        <th scope="col">Jami summasi</th>
        <th scope="col">Pul Qaytarildi</th>

      </tr>
    </thead>
    <tbody>
      {% for order in paid_orders %}

      <tr>
        <td class="text-center">{{ order.id }}</td>
        <td class="text-center">{{ order.customer.first_name }} | {{ order.customer.phone_number }}</td>
        <td class="text-center">{{ order.payment_method }}</td>
        {% if order.status != "Bekor qilingan" %}<td style="color:greenyellow" class="text-center">{{ order.status }}</td>
        {% else %}<td style="color:red" class="text-center">{{ order.status }}</td>{% endif %}
        <td class="text-center">{{ order.created_at }}</td>
        <td class="text-center">{{ order.sum|intcomma }} UZS</td>
        <td class="text-center">{% if order.is_refunded %} ✅ {% else %} ❌ {% endif %}</td>
      </tr>

      {% endfor %}
    </tbody>
    <caption style="background-color: rgb(40, 40, 40)" class="h3 text-end p-2">Jami daromad:
      {{ total_revenue|default_if_none:0|intcomma }} UZS
    </caption>
  </table>
</div>
<style>
  td {
    font-size: 20px;
  }
</style>
{% else %}
<h1 class="text-center" style="color:red">Siz admin emassiz!</h1>
{% endif %}

{% endblock %}